body {
  width: 100%;
  height: 100vh;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: var(--primary-color);
}

.main-header-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40%;

  width: 100%;
}

#main-header-title { 
  font-family: var(--title-family);
  font-size: var(--title-size);
  color: var(--text-white-color);
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
}

.name-picker-sec {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 5rem;

  flex-grow: 1;

  background-color: var(--secondary-color);

  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--text-white-color);
  outline: 1px solid rgba(0, 0, 0, 0.075);

  border-radius: var(--border-radius);
  padding: 0.2rem;
}

.input-container:focus-within {
  outline: 4px solid rgba(0, 0, 0, 0.075);
}

.name-picker-label {
  font-family: var(--text-family);
  font-weight: 800;
  color: var(--text-black-color);
  font-size: var(--text-size);
}

.name-picker-input-container {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  justify-content: center;
  align-items: center;

  width: 100%;
} 

.input-add-name {
  padding: 1rem;

  font-family: var(--text-family);
  font-weight: 600;
  font-size: var(--text-size);
}

.friend-list-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
}

.friend-list-container > li {
  background-color: var(--text-white-color);
  font-family: var(--text-family);
  font-size: var(--itens-list-size);
  color: var(--text-black-color);
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: 2px solid var(--primary-color);
}

.friend-list-container > li:hover {
  border-color: var(--item-exclude-color);
  cursor: pointer;
}

.button-input {
  padding: 1rem 1.5rem;
}

.button-draw {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  text-align: center;
  padding: 1rem 2rem;
  text-align: center;
}

.btn-style {
  font-family: var(--text-family);
  font-size: var(--btn-text-size);
  text-transform: capitalize;
  cursor: pointer;
  color: var(--text-white-color);
  background-color: var(--btn-color);
  border-radius: var(--border-radius);

  transition: brightness 0.2s ease-in-out;
}

.btn-style:hover {
  filter: brightness(0.90);
}

.btn-style:active {
  transform: scale(1.02);
}

#result-style {
  outline: 10px solid #7ddf644b;
  border-color: var(--btn-color);
}