:root {
  --primary-color: #3D52D5;
  --secondary-color: #FBFFF1;
  --tertiary-color: #B4C5E4;
  --text-white-color: #FDFFFC;
  --text-black-color: #161925;
  --item-exclude-color: #C1292E;
  --btn-color: #2A7F62;
  

  --border-radius: 2rem;

  --text-size: 1.5rem;
  --title-size: 3rem;
  --iten-list-size: 1.3rem;
  --btn-text-size: 1.2rem;

  --text-family: "Poppins", serif;
  --title-family: "Agbalumo", serif;
}